<section class='section'>

	<a id='contact'></a>

	<div class='container body'>

		<div class='content is-large'>

			<h2>Who We Are</h2>
			<p>The mission of the Brain and Behavior Initiative (BBI) at the University of Maryland (UMD) is to revolutionize the interface between engineers and neuroscientists by generating novel tools and approaches to understand complex behaviors produced by the human brain.</p>

			<div class='contact-links'>
			<strong>Contact Us</strong><br>
			<a href='http://bbi.umd.edu/' target='_blank'>  bbi.umd.edu</a><br>
			<a href="mailto:bbiumd@umd.edu">   bbiumd@umd.edu</a>
			</div>

		</div>

	</div>

</section>