<!DOCTYPE html>
<html lang='en'>

	<%- include header.ejs %>

	<body ng-app='BBIApp'>

		<%- include nav.ejs %>

		<%- include hero.ejs %>	

		<section class='section content is-medium'>

			<p>Click <a href="https://mapsengine.google.com/map/edit?authuser=0&amp;hl=en&amp;hl=en&amp;mid=z1veXeW36N70.kPzrKDX8cQPk">here</a> for a Google map of local restaurants. Restaurants are also listed below, sorted by where they are in relation to the UMD campus. In each category, restaurants are in order of distance from Marie Mount Hall. Only those locations that are more than 1/2 mile away have their distance listed.</p>
			<h3>Stamp Union Hall</h3>
			<ul>
				<li><a href="http://adeles.umd.edu/home">Adele's</a>: a sit-down restaurant, with a slight faculty-club feel</li>
				<li><a href="http://thestamp.umd.edu/food/md_food_co-op">Maryland Food Co-Op</a>: worker-owned, student-run co-op, vegetarian food</li>
				<li><a href="http://thestamp.umd.edu/food/maryland_dairy">Maryland Dairy</a>: local ice cream</li>
				<li><a href="http://www.mobysonline.com/">Moby Dick</a>: Persian take out (rice, kebabs, meat or legume stews, grilled vegetables, lamb shank, grilled chicken)</li>
				<li>Generic fast food: <a href="http://thestamp.umd.edu/food/chick-fil-a">Chick-Fil-A</a>, <a href="http://thestamp.umd.edu/food/mcdonalds">McDonald's</a>,  <a href="http://thestamp.umd.edu/food/panda_express">Panda Express</a>,  <a href="http://thestamp.umd.edu/food/salad_works">Salad Works</a>,  <a href="http://thestamp.umd.edu/food/sbarro_pizza">Sbarro Pizza</a>, <a href="http://thestamp.umd.edu/food/subway">Subway</a>, <a href="http://thestamp.umd.edu/food/taco_bell">Taco Bell</a></li>
			</ul>
			<h3>Center of College Park</h3>
			<h4>The near strip mall and College Park Shopping Plaza</h4>
			<ul>
				<li><a href="https://www.grubhub.com/washington-dc/marathon-deli-4429-lehigh-rd-college-park/">Marathon Deli</a>, 4429 Lehigh Ave: Greek deli (subs, gyros, spanakopita)</li>
				<li><a href="https://krazikebobcollegepark.com/">Krazi Kebab</a>, 4427 Lehigh Ave: South Asian naan wraps</li>
				<li><a href="http://www.breadngreens.com/">Bread N Greens</a>, 4425 Lehigh Ave: custom salads, fresh bread, and smoothies</li>
				<li><a href="http://www.pizzakingdom.com/">Pizza Kingdom</a>, 4439 Lehigh Ave: pizza</li>
				<li><a href="http://www.jasonsdeli.com/restaurants/md/college-park/college-park-deli">Jason's Deli</a>, 7356 Baltimore Ave: soups and sandwiches</li>
				<li><a href="http://www.starbucks.com/store/9763/us/university-of-maryland/7338-baltimore-avenue-college-park-md">Starbucks</a>, 7338 Baltimore Ave: coffee</li>
				<li><a href="http://www.chipotle.com">Chipotle</a>, 7332 Baltimore Ave, in the Shopping Plaza: Mexican</li>
				<li><a href="http://www.noodles.com/locations/403">Noodles &amp; Company</a>, 7320 Baltimore Ave: various noodle dishes</li>
				<li><a href="http://www.coldstonecreamery.com/">Coldstone Creamery</a>, 7314 Baltimore Ave: ice cream</li>
			</ul>
			<h4>Near (west) side of Baltimore Ave, plus Knox Rd</h4>
			<ul>
				<li><a href="http://www.potbelly.com/Shops/ShopLocator.aspx?PotbellyShopId=050">Potbelly</a>, 7422 Baltimore Ave: hoagies, grinders</li>
				<li><a href="https://plus.google.com/117352762183953583467/about?gl=us&amp;hl=en">Ten Ren</a>, 7418 Baltimore Ave: Chinese</li>
				<li><a href="https://www.milkboyarthouse.com/">Milkboy Arthouse</a>, 7416 Baltimore Ave: bar, sandwiches, new-American bistro food</li>
				<li><a href="https://www.jimmyjohns.com/">Jimmy John's</a>, 7410 Baltimore Ave: hoagies, grinders </li>
				<li><a href="http://fatpetesbbq.com/menu/">Fat Pete's BBQ</a>, 7408 Baltimore Ave: smoky barbeque (including tofu, fish and vegetable, besides pork beef and chicken) </li>
				<li><a href="http://www.nandosperiperi.com/">Nando's Peri Peri</a>, 7400 Baltimore Ave: flame-grilled marinated chicken, South African style</li>
			</ul>
			<h4>Far (east) side of Baltimore Ave, plus College Ave</h4>
			<ul>
				<li><a href="http://www.bagelplacecollegepark.com">Bagel Place</a>, 7423 Baltimore Ave: bagels, coffee, sandwiches</li>
				<li><a href="http://shopcollegepark.org/shops/wasabi-bistro/">Wasabi Bistro</a>, 4505 College Ave: casual Japanese</li>
				<li><a href="http://www.aroythairestaurant.com">Aroy Thai</a>, 4511 College Ave: Thai </li>
				<li><a href="http://www.blazepizza.com/locations/college-park/">Blaze Pizza</a>, 7419 Baltimore Ave: thin-crust personal pizzas, $7 for any choice of toppings</li>
				<li><a href="http://www.fiveguys.com">Five Guys</a>, 7417 Baltimore Ave: good regular hamburgers <br>
				</li>
				<li><a href="http://www.cluckuchicken.com/location/md/md01-01-college-park">Cluck U</a>, 7415-B Baltimore Ave: chicken wings</li>
				<li><a href="http://shopcollegepark.org/shops/subway-2/">Subway</a>, 7411-E: subs</li>
				<li><a href="http://www.collegeparkshanghaicafe.com/">Shanghai Cafe</a>, 7409 Baltimore Ave: Chinese, with small submenu of "Chinese Specialties"</li>
				<li><a href="http://www.ledorestaurant.com">Ledo Pizza</a>, 4509 Knox Rd: a local variety of pizza with with a pie-like crust and sweet tomato sauce</li>
				<li><a href="http://www.rjbentleys.net/">R.J. Bentley's</a>, 7323 Baltimore Ave: bar and bar food</li>
				<li><a href="http://www.cornerstonegrillandloft.com/">Cornerstone</a>, 7325 Baltimore Ave: bar and bar food</li>
				<li><a href="http://kfteausa.com/about-kftea/">Kung Fu Tea</a>, 7313-I Baltimore Ave: bubble tea</li>
				<li><a href="http://kiyokoexpressrestaurant.com">Kiyoko Express</a>, 7313-H Baltimore Ave: quick Japanese (sushi, teriyaki) </li>
				<li><a href="http://ivynoodlescollegepark.com/">Ivy Noodles</a>, 7313-G Baltimore Ave: Chinese, focussing on noodles, in soup or fried</li>
				<li><a href="http://shopcollegepark.org/shops/pho-thom/">Pho Thom</a>, 7313-F Baltimore Ave: Vietnamese (Pho, Bun and rice dishes) and Thai (the usual)</li>
				<li><a href="">Northwest Chinese Food</a>, 7313-D Baltimore Ave: authentic Shaanxi noodles and "rou jia mo" (seasoned  meat inside a small flatbread)</li>
				<li><a href="http://www.slicespizzamd.com">Slices</a>, 7313-C Baltimore Ave: pizza</li>
			</ul>
			<h3>Up Route 1 (Baltimore Ave), College Park</h3>
			<h4>Near (west) side of highway</h4>
			<ul>
				<li><a href="http://looneyspubmd.com/college-park/">Looney's</a>, 8150 Baltimore Ave: bar and bar food</li>
				<li><a href="http://nuvegancafe.com/">NuVegan Cafe</a>,  8150 Baltimore Ave: smoothies and vegan versions of contemporary bistro &amp; diner standards</li>
				<li><a href="http://www.bobbysburgerpalace.com/">Bobby's Burger Palace</a>, 8150 Baltimore Ave: Meaty $8 hamburgers from Bobby Flay</li>
				<li><a href="http://sweetgreen.com/">Sweet Green</a>, 8300 Baltimore Ave: premium salads </li>
				<li><a href="http://www.theboardandbrew.com/">Board and Brew</a>, 8150 Baltimore Ave: café with sandwiches, salads, breakfast, premium pastries and fancy beers, with 100+ board games to play</li>
				<li><a href="http://www.unforgettableflavors.com/">Unforgettable Flavors</a>, <a href="https://www.google.com/maps/place/39%C2%B001'01.6%22N+76%C2%B056'22.6%22W/@39.017115,-76.939603,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0x0">9348 Cherry Hill Rd</a>, <b>3 miles</b>: Carribean</li>
			</ul>
			<h4>Far (east) side of highway</h4>
			<ul>
				<li><a href="http://www.hanamijapanese.com/">Hanami</a>, 8145 Baltimore Ave, 3/4 mile: sit-down Japanese</li>
				<li><a href="https://www.grubhub.com/washington-dc/pupuseria-la-familiar-8145-baltimore-ave-college-park/">Pupusa La Familiar</a>, 8145 Baltimore Ave, 3/4 mile: Salvadoran pupusas</li>
				<li><a href="https://www.grubhub.com/washington-dc/food-factory-ii-8145-baltimore-ave-ste-g-college-park/">Food Factory</a>, 8145 Baltimore Ave, 3/4 mile: South Asian kabobs</li>
				<li><a href="http://phodlite.com/">Pho D'Lite</a>, 8147 Baltimore Ave, 3/4 mile: Vietnamese soup noodles</li>
				<li><a href="http://shopcollegepark.org/shops/kangnam-korean-bbq/">Kangnam BBQ</a>, 8503 Baltimore Ave, 1 mile: Korean tabletop grills, with a sports-bar atmosphere</li>
				<li><a href="http://eatfishnet.com/">Fishnet</a>, <a href="https://www.google.com/maps/place/38%C2%B059'41.5%22N+76%C2%B055'32.9%22W/@38.994848,-76.925817,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0x0">5010 Berwyn Rd</a>, 1.5 miles: premium fish sandwiches, made to order</li>
			</ul>
			<h3>Down Route 1, Hyattsville</h3>
			<ul>
				<li><a href="http://www.shaggarestaurant.com/">Shagga</a>, 6040 Baltimore Ave, 1.5 miles: Ethiopian</li>
				<li><a href="http://www.yelp.com/biz/pupuseria-el-comalito-riverdale-park">Pupuseria El Comalito</a>, 6100 Baltimore Ave, 1.5 miles: Salvadoran</li>
				<li><a href="http://www.chipotle.com">Chipotle</a>, 5501 Baltimore Ave, 2 miles: Mexican</li>
				<li><a href="https://www.jimmyjohns.com/">Jimmy John's</a>, 5501 Baltimore Ave, 2 miles: hoagies, grinders</li>
				<li><a href="https://tarathaihyattsville.com/">Tara Thai</a>, 5501 Baltimore Ave, 2 miles: sit-down Thai</li>
				<li><a href="http://hyattsville.elevationburger.com/">Elevation Burger</a>, 5501 Baltimore Ave, 2 miles: grass-fed beef hamburgers</li>
				<li><a href="http://www.yogicastle.com/public_html/index.php">Yogi Castle</a>, 5501 Baltimore Ave, 2 miles: frozen yoghurt</li>
				<li><a href="http://www.spice-6.com/">Spice 6</a>, 5501 Baltimore Ave, 2 miles: like a South Asian Chipotle</li>
				<li><a href="http://www.busboysandpoets.com/about/hyattsville">Busboys and Poets</a>, 5331 Baltimore Avenue, 2 miles: New American casual, vegetarian-friendly, mainly seafood, with a bar</li>
				<li><a href="http://www.franklinsbrewery.com/">Franklin's</a>, 5123 Baltimore Ave, 2 miles: New American casual restaurant and brewery, wide-open plan and lively atmosphere</li>
				<li><a href="http://www.yelp.com/biz/chez-dior-hyattsville">Chez Dior</a>, 5124 Baltimore Ave, 2 miles: Senegalese</li>
			</ul>
			<h3>Some further favorites</h3>
			<ul>
				<li><a href="http://www.bird-kitchen-cocktails.com/about/">Bird Kitchen &amp; Cocktails</a>, 3801 34th St. 
				Mount Rainier, 4 miles: charming Southern bistro</li>
				<li><a href="http://www.tiffinrestaurant.com/">Tiffin</a>, 1341 University Blvd, Takoma Park, 4 miles: Indian</li>
				<li><a href="http://www.woodlandsrestaurants.com/">Woodlands</a>, 8146 New Hampshire, Langley Park, 4.5 miles: Southern Indian vegetarian</li>
				<li><a href="http://www.zagat.com/b/washington-dc/panda-gourmet-fires-up-new-york-ave.ne">Panda Gourmet</a>, 2700 New York Ave, Washington, 7 miles: Shaanxi and Sichuan </li>
				<li><a href="http://www.mandalayrestaurantcafe.com/">Mandalay</a>, 930 Bonifant St, Silver Spring, 7 miles: Burmese</li>
				<li><a href="http://dukemrestaurant.com/">Dukem</a>, 1114 U St NW, Washington, 8 miles: Ethiopian</li>
			</ul>

		</section>

		<%- include footer.ejs %>

		<script type='text/javascript'>

			var loading_screen = pleaseWait({
				logo: '',
				loadingHtml: '<div class="sk-cube-grid"><div class="sk-cube sk-cube1"></div><div class="sk-cube sk-cube2"></div><div class="sk-cube sk-cube3"></div><div class="sk-cube sk-cube4"></div><div class="sk-cube sk-cube5"></div><div class="sk-cube sk-cube6"></div><div class="sk-cube sk-cube7"></div><div class="sk-cube sk-cube8"></div><div class="sk-cube sk-cube9"></div></div>'
			})

			setTimeout( () => {
				loading_screen.finish()
			}, 2000 )

		</script>

		<script type='text/javascript' src='javascripts/angular-smooth-scroll.js'></script>
		<script type='text/javascript' src='javascripts/app.js'></script>
		<script type='text/javascript' src='javascripts/navcontroller.js'></script>

	</body>

</html>