<footer class='footer'>

	<a id='sponsors'></a>

	<div class='section-body sponsor-section'>

		<div class='content has-text-centered'>

			Thank you to the following University of Maryland sponsors for supporting this workshop:

		</div>

		<div class='content columns'>

			<div class='column has-text-centered is-one-third content'>

				<a href='http://eng.umd.edu/' target='_blank'>A. James Clark School of Engineering</a><br>
				<a href='https://www.ccebh.umd.edu/' target='_blank'>Ctr for Comparative &amp; Evolutionary Biology of Hearing</a><br>
				<a href='https://www.arhu.umd.edu/' target='_blank'>College of Arts and Humanities</a><br>
				<a href='https://bsos.umd.edu/' target='_blank'>College of Behavioral and Social Sciences</a><br>
				<a href='http://cmns.umd.edu/' target='_blank'>College of Computer, Mathematical, &amp; Natural Sciences</a><br>

			</div>

			<div class='column has-text-centered is-one-third'>

				<figure class='image is-256x256'>
					<img src='images/umd.svg'/>
				</figure>

			</div>

			<div class='column has-text-centered is-one-third content'>

				
				<a href='http://ling.umd.edu/' target='_blank'>Department of Linguistics</a><br>
				<a href='https://psyc.umd.edu/' target='_blank'>Department of Psychology</a><br>
				<a href='http://www.education.umd.edu/' target='_blank'>Department of Education</a><br>
				<a href='http://faculty.philosophy.umd.edu/pcarruthers/cog-sci.htm' target='_blank'>Dept of Philosophy - Cognitive Science Colloquium</a><br>
				<a href='http://www.isr.umd.edu/' target='_blank'>Institute for Systems Research</a><br>
				<a href='http://www.research.umd.edu/' target='_blank'>Vice President for Research</a><br>

			</div>

	</div>

</footer>
