<head>
	
	<title>BBI Workshop</title>
	<link type='text/css' rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css' />
	<link type='text/css' rel='stylesheet' href='stylesheets/please-wait.css' />
	<link type='text/css' rel='stylesheet' href='stylesheets/style.css' />
	<script type='text/javascript' src='javascripts/please-wait.js'></script>
	<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js'></script>
	<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
	<script type='text/javascript' src='javascripts/parallax.min.js'></script>

</head>
