<div class='hero is-fullheight'>

	<div class='hero-body' data-parallax='scroll' data-image-src='<%- heroimg %>'>

		<div class='container'>

			<figure class='hero-subtitle image'>
				<image src='images/bbi_bbi_lg_white.png'/>
			</figure>

			<figure class='hero-subtitle image'>
				<image src='images/umd.png'/>
			</figure>

		</div>

	</div>

</div>
