<section class='section container'>

	<a id='home'></a>

	<div class='section body'>

		<div class='columns'>

			<div class='column'>

				<div class='title-container'>
					
					<figure class='image'>
						<image src='images/achlw.png'/>
					</figure>

				</div>

			</div>

			<div class='column content is-large'>

					Fifteen speakers in this 3-day workshop on <em>"New Perspectives in Animal Models of Language"</em> will explore new insights into syntactic and semantic aspects of natural communication in animals (ranging from mice and parrots to monkeys and whales), describe behavioral and neural studies of brain activity in animals trained to discriminate human phonemes and learn simple grammars, present recent findings on the neural basis for mimicry and auditory memory that may underlie language ability, and examine brain imaging studies showing similarities in brain organization for processing communication sounds in dogs, monkeys, and humans and other species. This exciting research field raises many profound questions related to the evolution and neural basis of language and will be of interest to a broad community including those in linguists, biologists, psychologists, zoologists, audiologists and hearing scientists, behaviorists, artificial language theorists, engineers, and neuroscientists.

			</div>

		</div>

	</div>

</section>
