<!DOCTYPE html>
<html lang='en'>

	<%- include header.ejs %>

	<body ng-app='BBIApp'>

		<%- include nav.ejs %>

		<%- include hero.ejs %>

		<%- include home.ejs %>

		<a id='travel'></a>

		<%- include program.ejs %>

		<%- include travel.ejs %>

		<%- include register.ejs %>

		<%- include contact.ejs %>

		<%- include footer.ejs %>

		<script type='text/javascript'>

			var loading_screen = pleaseWait({
				logo: '',
				loadingHtml: '<div class="sk-cube-grid"><div class="sk-cube sk-cube1"></div><div class="sk-cube sk-cube2"></div><div class="sk-cube sk-cube3"></div><div class="sk-cube sk-cube4"></div><div class="sk-cube sk-cube5"></div><div class="sk-cube sk-cube6"></div><div class="sk-cube sk-cube7"></div><div class="sk-cube sk-cube8"></div><div class="sk-cube sk-cube9"></div></div>'
			})

			setTimeout( () => {
				loading_screen.finish()
			}, 2000 )

		</script>

		<script type='text/javascript' src='javascripts/angular-smooth-scroll.js'></script>
		<script type='text/javascript' src='javascripts/app.js'></script>
		<script type='text/javascript' src='javascripts/navcontroller.js'></script>
		<script type='text/javascript' src='javascripts/programcontroller.js'></script>

	</body>

</html>
