<div class='nav-container' ng-controller='<%- navcontroller %> as nav'>

	<nav class='nav' ng-show='nav.show_nav'>

		<div class='nav-left'>

			<figure class='image is-64x64'>
				<img src='images/bbi_bbi.png'/>
			</figure>

		</div>
		
		<div class='nav-center'>

			<a id='{{ item.name }}' class='nav-item is-tab' ng-repeat='item in nav.menu_items' ng-click='nav.clickIt(this)'>{{ item.name }}</a>

		</div>

		<div class='nav-right'>
		</div>

	</nav>

</div>