<section class='section parallax-section' ng-controller='<%- programcontroller %> as prog' data-parallax='scroll' data-image-src='../images/spiza_low.jpg'>

	<a id='program'></a>

	<div class='section container body'>

		<div class='columns'>

			<div class='column'>

				<div class='menu mid-menu'>

					<ul class='menu-list content is-large'>

						<li ng-repeat='section in prog.sections' ng-click='prog.goToPage(this)'><a>{{ section.name }}</a></li>

					</ul>

				</div>

			</div>

			<div class='column'>

				<h2 class='title is-1 center-aligned'>
					Friday 22 - Sunday 24<br>
					September<br>
					2017</h2>

			</div>

		</div>

	</div>

</section>