<section class='section parallax-section' data-parallax='scroll' data-image-src='../images/chimp_low.jpg'>

	<a id='register'></a>

	<div class='section container body'>

		<div class='columns'>

			<div class='column'>

				<div class='content reg-content is-large'>

					<p>September 22, 2017 (Friday) session: FREE but must REGISTER to attend.</p>
					<p>Click below to register for the Friday ONLY session.<br>
					<em>Seating limited, register early.</em></p>

					<div class='button reg-button is-large' onclick='window.open( "https://www.eventbrite.com/e/talk-to-the-animals-new-perspectives-on-animal-models-of-language-and-cognition-a-brain-and-tickets-36833791863?aff=ehomecard", "_blank")'>
						Friday Only
					</div>

				</div>

			</div>

			<div class='column'>

				<div class='content reg-content is-large'>

					<p>September 22 - 24, 2017 (Friday - Sunday) sessions:<br>
					Registration fee includes all sessions, lunch on Saturday and all refreshment breaks.</p>
					<p><strong><em>$30</em> - Faculty early bird fee good through 9/8, $50 starting 9/9</strong></p>
					<p><strong><em>$15</em> - Student early bird fee goo through 9/8, $25 starting 9/9</strong></p>

					<div class='button reg-button is-large' onclick='window.open( "http://umd-bbi.fasttransact.net/", "_blank" )'>
						Full Workshop
					</div>

				</div>

			</div>

		</div>

	</div>

</section>
