<!DOCTYPE html>
<html lang='en'>

	<%- include header.ejs %>

	<body ng-app='BBIApp'>

		<%- include nav.ejs %>

		<%- include hero.ejs %>	

		<section class='section container'>

			<div class='program-content content is-medium'>

				<h1>Schedule</h1>

				<strong><h3>Friday,<br>
				September 22</h3></strong>

				<table class='table is-striped'>

					<tbody>

						<tr>

							<td><strong>3 - 5PM</strong></td>

							<td>Workshop Registration<br>
							Poster Session A and Refreshments</td>

							<td><strong>Room 2130</strong><br>
							HJ Patterson<br>
							Language Science Ctr</td>

						</tr>

						<tr>
							<td><strong>5 - 7PM</strong></td>

							<td><strong>Opening Session</strong><br>

								<ul>
									<li><strong>Erich Jarvis</strong> - Rockefeller University<br>
									<em>Evolution of Brain 
									Pathways for Vocal Learning and Spoken Language</em></li>

									<li><strong>Tecumseh Fitch</strong> - University of Vienna<br>
									<em>Biology and Evolution of Language - Continuity and Change</em></li>

								</ul>

							</td>

							<td><strong>Room 0224</strong><br>
							St. John Learning Ctr</td>

						</tr>

					</tbody>

				</table>

				<h1></h1>

				<strong><h3>Saturday,<br>
				September 23</h3></strong>

				<table class='table is-striped'>

					<tbody>

						<tr>

							<td><strong>8AM - 5PM</strong></td>

							<td>Registration/Information Table Open</td>

							<td><strong>Atrium</strong><br>
							in Stamp Union</td>

						</tr>

						<tr>

							<td><strong>8:30 - 10:30AM</strong></td>

							<td><strong>Session 2</strong><br>

								<ul>
									<li><strong>Tim Gentner</strong> - University of California, San Diego<br>
									<em>Generative Models for 
									Acoustic Communication and Natural Language</em></li>

									<li><strong>Stephanie White</strong> - University of California, Los Angeles<br>
									<em>Network-based Approaches to Vocal Learning</em></li>

									<li><strong>Bob Dooling</strong> - University of Maryland<br>
									<em>Species Differences in Perception of Song-Motifs</em></li>
								</ul>

							</td>

							<td><strong>Atrium</strong><br>
							in Stamp Union</td>

						</tr>

						<tr>

							<td><strong>10:30 - 11AM</strong></td>

							<td>Morning Coffee</td>

							<td><strong>Stamp Union</strong></td>

						</tr>

						<tr>

							<td><strong>11AM - 12:30PM</strong></td>

							<td><strong>Session 3</strong><br>

								<ul>
									<li><strong>Richard Mooney</strong> - Duke University<br>
									<em>From Song to Synapse: Vocal Communication in Songbirds and Mice</em></li>

									<li><strong>Peter Tyack</strong> - University of St. Andrews<br>
									<em>A Comparative Perspective on Vocal Learning in Mammals</em></li>
								</ul>

							</td>

							<td><strong>Atrium</strong><br>
							in Stamp Union</td>

						</tr>

						<tr>

							<td><strong>12:30 - 1:30PM</strong></td>

							<td>Lunch</td>

							<td><strong>Atrium</strong><br>
							in Stamp Union</td>

						</tr>

						<tr>

							<td><strong>1:30 - 2:30PM</strong></td>

							<td>Poster Session B</td>

							<td><strong>Room 2130</strong><br>
							HJ Patterson<br>
							Language Science Ctr</td>

						</tr>

						<tr>

							<td><strong>2:30 - 4:30PM</strong></td>

							<td><strong>Session 4</strong><br>

								<ul>
									<li><strong>Katie Slocombe</strong> - York University<br>
									<em>Scratching Beneath the Surface: Are Great Ape Signals Produced Intentionally?</em></li>

									<li><strong>Klaus Zuberbuhler</strong> - University of St. Andrews<br>
									<em>Intentional Communication in Primates</em></li>

									<li><strong>Robert Seyfarth and Dorothy Cheney</strong> - University of Pennsylvania<br>
									<em>Evolution, Communication, and Cognition Among Primates</em></li>
								</ul>

							</td>

							<td><strong>Atrium</strong><br>
							in Stamp Union</td>

						</tr>

						<tr>

							<td><strong>4:30 - 5PM</strong></td>

							<td>Afternoon Coffee</td>

							<td></td>

						</tr>

						<tr>

							<td><strong>5 - 6:30PM</strong></td>

							<td><strong>Session 5</strong><br>

								<ul>
									<li><strong>Andreas Nieder</strong> - University of Tubingen<br>
									<em>Role of Frontal Lobe Areas in Controlling Vocalizations in Primates</em></li>

									<li><strong>Chris Petkov</strong> - Newcastle University<br>
									<em>Structured Sequence Learning, Language Evolution, and the Primate Brain</em></li>
								</ul>

							</td>

							<td><strong>Atrium</strong><br>
							in Stamp Union</td>

						</tr>

					</tbody>

				</table>

				<h1></h1>

				<strong><h3>Sunday,<br>
				September 24</h3></strong>

				<table class='table is-striped'>

					<tbody>

						<tr>

							<td><strong>8 - 11AM</strong></td>

							<td>Registration/Information Table Open</td>

							<td><strong>Atrium</strong><br>
							in Stamp Union</td>

						</tr>

						<tr>

							<td><strong>8:30 - 10:30AM</strong></td>

							<td><strong>Session 6</strong><br>

								<ul>
									<li><strong>Sandy Waxman</strong> - Northwestern University<br>
									<em>Becoming Human: How (and how early) Do Infants Link Language and Cognition?</em></li>

									<li><strong>Robert Berwick</strong> - Massachusetts Institute of Technology<br>
									<em>There's Plenty of Room at the Bottom: Granularity and the Neurobiology of Language - a View from Computer Science</em></li>

									<li><strong>David Poeppel</strong> - New York University and Max Planck Institute Frankfurt<br>
									<em>Primitives in Language: Be a Splitter Not a Lumper! On the Proper Granularity to Study the Neurobiology of Language</em></li>
								</ul>

							</td>

							<td><strong>Atrium</strong><br>
							in Stamp Union</td>

						</tr>

						<tr>

							<td><strong>10:30 - 11AM</strong></td>

							<td>Morning Coffee</td>

							<td><strong>Stamp Union</strong></td>

						</tr>

						<tr>

							<td><strong>11AM - 1PM</strong></td>

							<td><strong>Session 7</strong><br>

								<ul>
									<li><strong>Roundtable Workshop</strong><br>
									<em>Summary and Discussion of Workshop Themes</em> - White Paper</li>
								</ul>

							</td>

							<td><strong>Stamp Union</strong></td>

						</tr>

					</tbody>

				</table>

			</div>

		</section>

		<%- include footer.ejs %>

		<script type='text/javascript'>

			var loading_screen = pleaseWait({
				logo: '',
				loadingHtml: '<div class="sk-cube-grid"><div class="sk-cube sk-cube1"></div><div class="sk-cube sk-cube2"></div><div class="sk-cube sk-cube3"></div><div class="sk-cube sk-cube4"></div><div class="sk-cube sk-cube5"></div><div class="sk-cube sk-cube6"></div><div class="sk-cube sk-cube7"></div><div class="sk-cube sk-cube8"></div><div class="sk-cube sk-cube9"></div></div>'
			})

			setTimeout( () => {
				loading_screen.finish()
			}, 2000 )

		</script>

		<script type='text/javascript' src='javascripts/angular-smooth-scroll.js'></script>
		<script type='text/javascript' src='javascripts/app.js'></script>
		<script type='text/javascript' src='javascripts/navcontroller.js'></script>
		<script type='text/javascript' src='javascripts/programcontroller.js'></script>

	</body>

</html>