<!DOCTYPE html>
<html lang='en'>

	<%- include header.ejs %>

	<body ng-app='BBIApp'>

		<%- include nav.ejs %>

		<%- include hero.ejs %>	

		<section class='section container' ng-controller='SpeakerController as ctrl'>

			<div class='speaker-content content is-medium'>

				<div class='card' ng-repeat='speaker in ctrl.speakers'>
					<header class='card-header'>
					    <h2 class='card-header-title'>
					      {{ speaker.name }}<br>
					      {{ speaker.uni }}
					    </h2>
					    <a class='card-header-icon'>
					    	<span class='icon'>
					        	<!-- <i class="fa fa-angle-down"></i> -->
					    	</span>
					    </a>
					</header>
					<div class='card-content'>
					    <div class='content is-large'><strong>
					    	{{ speaker.title }}<br>
					    	{{ speaker.sub }}
					    </strong></div>
					    <div class='content'>
					    	{{ speaker.abstract }}
					</div>
					<footer class='card-footer'>
					    <a class='card-footer-item' ng-click='ctrl.goToPage(this)'>Website</a>
					    <a class='card-footer-item'>{{ speaker.schedule }}</a>
					</footer>
				</div>

			</div>

		</section>

		<%- include footer.ejs %>

		<script type='text/javascript'>

			var loading_screen = pleaseWait({
				logo: '',
				loadingHtml: '<div class="sk-cube-grid"><div class="sk-cube sk-cube1"></div><div class="sk-cube sk-cube2"></div><div class="sk-cube sk-cube3"></div><div class="sk-cube sk-cube4"></div><div class="sk-cube sk-cube5"></div><div class="sk-cube sk-cube6"></div><div class="sk-cube sk-cube7"></div><div class="sk-cube sk-cube8"></div><div class="sk-cube sk-cube9"></div></div>'
			})

			setTimeout( () => {
				loading_screen.finish()
			}, 2000 )

		</script>

		<script type='text/javascript' src='javascripts/angular-smooth-scroll.js'></script>
		<script type='text/javascript' src='javascripts/app.js'></script>
		<script type='text/javascript' src='javascripts/navcontroller.js'></script>
		<script type='text/javascript' src='javascripts/speakercontroller.js'></script>

	</body>

</html>