<section class='section container'>

	<div class='section-body'>

		<div class='columns centered'>

			<div class='column is-one-third'>

				<div class='button prog-button' onclick='window.location.href="/dining"'>

					<h2 class='title is-3'>
						Dining
					</h2>

				</div>

			</div>

			<div class='column is-one-third content is-large has-text-centered'>

        This workshop will be held at the <span style='color:#e03a3e'>University of Maryland</span> in College Park, Maryland.

      </div>

			<div class='column is-one-third'>

				<div class='button prog-button' onclick='window.open( "https://terpfamily.umd.edu/informing-parents/explore-college-park/hotels", "_blank" )'>

					<h2 class='title is-3'>
						Lodging
					</h2>

				</div>

			</div>			

		</div>

	</div>

</section>