body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hero {
  background-color: rgba(0,0,0,0.4) !important;
}

.nav-container {
  width: 100%;
  box-shadow: 0px -32px 100px 25px black;
	position: fixed !important;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;
}

.nav-left {
  overflow: hidden;
  padding: 0.6rem;
}

a.is-active {
	/*color: #3273dc !important;*/
	color: #e03a3e !important;
	border-top: 3px solid #e03a3e !important;
	border-bottom: 0 solid white !important;
}

a.nav-item.is-tab {
  transition: border 0.2s, color 0.2s;
}

a.nav-item.is-tab:hover {
  border-bottom: #e03a3e solid 3px;
  color: black;
}

@media screen and (min-width: 769px) {
  .modal-content {
    max-height: 80vh !important;
    width: 50vw !important;
  }
}

.big-inline {
	display: inline-block;
	color: #e03a3e !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.mid-menu {
	text-align: center;
	position: relative;
	top:15%;
}

.menu-list a {
	background-color:#f5f5f5 !important;
}

.menu-list a:hover {
	color: #e03a3e !important;
	background-color: #e4e4e4 !important;
}

figure.hero-subtitle {
  width: 300px;
  height: 187.5px;
}

section.section.content.is-medium {
  padding-top: 3rem;
}

section.section.content.is-medium p a,
section.section.content.is-medium ul li a {
  color: #e03a3e !important;
}

section.parallax-section {
  background-color: rgba(0,0,0,0.4) !important;
  padding: 10vh 0 10vh 0;
}

section.parallax-section .section {
  background-color: rgba(0,0,0,0) !important;
}

section.parallax-section .section .columns .column h2 {
  color: white !important;
}

.sponsor-section div.content {
  color: white !important;
}

.sponsor-section div.content div.column a {
  color: white !important;
}

.title-container {
  margin-top: 11vh;
	min-width: 370px;
}

.center-aligned {
	text-align: center
}

tr td:first-child {
  width: 12rem;
}

tr td:last-child {
  width: 15rem
}

.column {
  position: relative;
}

.button.prog-button {
  width: 100%;
  height: 100%;
}

.button.prog-button:hover {
  background-color: #e4e4e4;
}

.button.prog-button:hover h2 {
  color: #e03a3e;
}

.button.reg-button {
  width: 100%;
  height: 5rem;
}

body > section:nth-child(11) > div > div > div > a {
  color: #4a4a4a !important;
}

.program-content strong h3 {
  color: #e03a3e !important;
}

.content.reg-content {
  color: white !important;
}

.content.reg-content strong {
  color: white !important;
}

.card {
  background-color: #f5f5f5 !important;
  margin: 5rem 0 0 0;
}

.card-header {
  padding: 1.5rem;
}

.card-header-title {
  padding: 0;
}

.card-content {
  padding: 1.5rem 1.5rem 0 1.5rem !important;
}

.card-footer-item {
  background-color: #f5f5f5 !important;
  color: #e03a3e !important;
  font-weight: bold;
}

footer {
	background-color: #353535 !important;
}

footer h3, footer li {
	color: #fff;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}